<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('layout/link')  %> 
    <%- include('layout/link-head') %> 
<style>
    .products{
    width: 90%;
    margin-left: 5%;
    margin-top: 5rem;
    margin-bottom: 5rem;

}
.product{
    
    width:23%;
    display: inline-block;
    margin-left: 1%;
    border: 1px solid  darkgray;
    text-align: left; 
    text-align: left;
    padding: 10px 10px;
    
}
.product img{
 
  width:100%;
  height: 350px;
}
.detail{
    width:100%;
    position: relative;

}
.product-detail{
    margin-top: 60px;
    position: absolute;
    width: 96%;
    margin-left: 2%;
    height: 200px;
    border-radius: 10px;
    padding: 10px 10px;
    border: 1px solid black;
    background-color:white;;
    opacity: 0.9;
}

.product-categories > a{
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color:rgb(206, 206, 206);
    padding:5px 10px;
   border-radius: 10px;
   font-size: 13px;;
}
.product-detail {
    display: none ;
    
}
.product:hover .product-detail  {
    display: block;

}
.detail > h5 {
    margin-top: 20px;
    position: absolute;
    background-color:red;
    color: white;
    padding:5px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.name-page h5 {
    text-align: center;
    margin-top: 60px;
    font-size: 25px;
}
</style>
    <link rel="stylesheet" href="/css/tieusu.css">
</head>
<body>
    <header>
        <%- include ('layout/header') %> 
    </header>
    <main>
            <div class="container search">
				<form action="/tieusu" method="POST">
				    <div class="row">
                        <div class="col-lg-10 col-sm-12 col-md-6">
                            <div class="input-group pl-0">
                                  <div class="input-group-prepend mt-2">
                                        <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fas fa-search text-white" aria-hidden="true"></i></span>
                                  </div>
                                  <input class="form-control my-0 py-1 mt-2" name="name" type="text" placeholder="Nhập người muốn tìm kiếm" aria-label="Search">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12 col-md-3">
                            <input id="add-btn" class="btn btn-danger m-2" type="submit" value="Tìm kiếm"/>
                        </div>
				    </div>
                </form>
		    </div>
            <div class="name-page">
                <h5>Người nổi tiếng</h5>
            </div>
       <div class="products">
        <% biographys.forEach(function(biography) { %>
        <div class="product">
            <div class="detail">
                    <h5><%= biography.name %></h5>
              <a href="/tieusu/<%= biography.slug %>">
                <div class="product-detail">
             <p><%= biography.description %></p>
                </div>
              </a>
              </div>
            <img src="<%= biography.image %>" alt="">
        <div class="product-categories">
            <a ><%= biography.stageName %></a>
            <a href="">Diễn viên</a>
        </div>

        </div>
        <% }) %> 
      
  
   
      
       </div>
    </main>
    <footer>
        <%- include ('layout/footer') %> 

    </footer>
</body>
</html>